<div class="container-lg">
    <div class="row">
        <div class="card col-lg-4" >
            <div class="card-body">
                <h5 class="card-title">User</h5>
                <p class="card-text">Manage users</p>
                <a asp-controller="admin" asp-action="ManageUsers" class="btn btn-primary">Manage</a>
            </div>
        </div>
        <div class="card col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Role</h5>
                <p class="card-text">Manage roles</p>
                <a asp-controller="admin" asp-action="ManageRoles" class="btn btn-primary">Manage</a>
            </div>
        </div>
        <div class="card col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Article</h5>
                <p class="card-text">Manage articles</p>
                <a asp-controller="admin" asp-action="ManageArticles" class="btn btn-primary">Manage</a>
            </div>
        </div>
        <div class="card col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Source</h5>
                <p class="card-text">Manage sources</p>
                <a asp-controller="admin" asp-action="ManageSources" class="btn btn-primary">Manage</a>
            </div>
        </div>
        <div class="card col-lg-4">
            <div class="card-body">
                <h5 class="card-title">Comment</h5>
                <p class="card-text">Manage comments</p>
                <a asp-controller="admin" asp-action="ManageComments" class="btn btn-primary">Manage</a>
            </div>
        </div>
    </div>
</div>