.article img {
    margin-bottom: 0.2rem;
    transition-property: transform, z-index;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transform: scale(1);
    z-index: 100;
}

    .article img:hover {
        transition-property: transform, z-index;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transform: scale(1.02);
        z-index: 2000;
    }

.article :is(h2, h4, p, blockquote, ul), .article>div>a {
    padding: 0rem 3rem;
}

.article h4 {
    margin: 2rem 0rem;
}

.article h2 {
    margin: 0 4rem 1rem 4rem;
}
