<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewsAgregator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required:false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-secondary shadow-sm alight-middle">
            <div class="container-fluid">
            <a class="navbar-brand" asp-action="index" asp-controller="home">NewsAggregator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" id="home" asp-action="index" asp-controller="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="article" asp-action="index" asp-controller="article">Articles</a>
                    </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="admin" asp-action="index" asp-controller="admin">Admin</a>
                            </li>
                        }
                    </ul>
                    <input type="checkbox" id="darkmode-toggle" />
                    <label class="me-2"for="darkmode-toggle" id="darkmode-label"></label>
                @if (User == null | !User.Identity.IsAuthenticated)
                {
                    <!-- Button trigger modal -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Login
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
                            Register
                        </button>
                    </div>

                    <!-- Modal -->
                    <partial name="_LoginPartial" model="new NewsAgregator.Mvc.Models.Accounts.LoginModel()"></partial>
                    <partial name="_RegisterPartial" model="new NewsAgregator.Mvc.Models.Accounts.RegisterModel()"></partial>

                }
                else
                {
                    <form method="post" asp-action="logout" asp-controller="account">
                        <label class="navbar-text navbar-brand">@User.Identity.Name</label>
                        <button type="submit" class="btn btn-outline-secondary">Logout</button>
                    </form>
                }
            </div>
          </div>
        </nav>
    </header>
    <div class="container-lg">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var ariaCurrent = '@ViewData["aria-current"]';
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required:false)
</body>
</html>
