@model NewsAgregator.Mvc.Models.Accounts.LoginModel
<form  asp-controller="Account" asp-action="Login" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Login"></label>
        <input type="text" class="form-control" asp-for="Login">
        <span asp-validation-for="Login"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Password">Password</label>
        
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>