@model System.Collections.Generic.List<NewsAgregator.Mvc.Models.Articles.ArticleModel>;
@{
    ViewData["Title"] = "Home Page";
    ViewData["aria-current"] = "Home";
}

<div class="row mt-3">
    @{
        foreach (var article in Model)
        {
            <partial name="_ArticleCardPartial" for="@article" />
        }
    }
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/articleCard.css" asp-append-version="true" />
}